@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100..900&family=Sansita+Swashed:wght@300..900&display=swap');

* {
    box-sizing: border-box;
}
body {
    font-size: 100%;
    padding: 1.2rem;
    margin: 0;
    background-color: #12372A;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style: none;
}

header a {
    display: inline-flex;
    color: #FBFADA;
    text-decoration: none;
}

header a:hover {
    color: #242639;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-family: Sansita Swashed;
    gap: 6rem;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.hamburger {
    display: none;
    position: absolute;
    top: 2rem;
    right: 1.3rem;
    font-size: 1.3rem;
    color: #FBFADA;
    border: 0;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}

.split {
    display: flex;
}

.split-left {
    font-size: 3.2rem;
    font-weight: bold;
    font-family: Lexend Zetta;
    padding-left: 2%;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0;
    padding-left: 5%;
}
.text-section {
    margin: 0;
    padding: 1rem;
}
h1 {
    font-size: 3rem;
    font-family: Lexend Zetta;
    text-transform: uppercase;
    color: #ADBC9F;
    margin-bottom: -2.7rem;
    padding: 0;
}

h2 {
    font-size: 9rem;
    font-weight: bold;
    font-family: Sansita Swashed;
    color: #FBFADA;
    margin: 0;
    padding: 0;
}

p {
    font-size: 1.2rem;
    color: #ADBC9F;
    font-family: Lexend Zetta;
    margin: 0;
    padding: 0.5rem;
}

.container-burger {
    display: block;
    padding: auto;
}

.burger-image {
    max-width: 100%;
    height: auto;
    margin-left: -6rem;
    margin-top: 3rem;
}

h5 {
    display: none;
    color: #FFFFFF;
    font-size: 0.9rem;
    font-weight: normal;
    font-family: Lexend Zetta;
}

span {
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: sansita swashed;
    text-align: center;
}

.burger-container {
    display: flex;
    gap: 1rem;
    padding-left: 12%;
    margin-top: 0;
}

footer {
    margin: 3% 12%;
    text-align: center;  
}

footer p {
    font-size: 1rem;
}

/* Mobile devices (screen width less than 415px) */
@media only screen and (max-width: 415px) {
    
    body {
        padding: 1.4rem;
    }
    
    .split-left {
        font-size: 1.3rem;
        margin-top: 3rem;
    }

    ul {
        display: none;
        position: relative;
        top: 4.6rem;
        left: 3.5rem;
        width: auto;
        flex-direction: column;
        font-size: 0.6rem;
        margin: 0;
        gap: 0.5rem;
        background-color: #246e54;
    }

    .hamburger {
        display: flex;
        right: 1.6rem;
        top: 4.5rem;
    }

    ul.show {
        display: flex;
    }

    .container {
        display: block;    
    }

    h1 {
        font-size: 1rem;
        padding: 1rem;
    }

    h2 {
        font-size: 3.4rem;
        margin-top: 1.6rem;
    }

    p {
        font-size: 0.7rem;
        margin-bottom: -3.6rem;
    }

    h5 {
        display: block;
        margin-top: -1.8rem;
    }

    .container-burger {
        display: block;
    }

    .burger-container img{
        display: none;
    }

    footer {
        display: none;
    }
}

/* Mobile devices (screen width less than 600px) */
@media only screen and (max-width: 768px) {
    body {
        padding: 1.5rem;
    }
    .split-left {
        font-size: 2rem;
    }

    ul {
        font-size: 0.6rem;
        gap: 2rem;
    }

    .container {
        display: block;
    }

    h1 {
        font-size: 1.6rem;
        padding: 1.8rem;
    }

    h2 {
        font-size: 5rem;
    }
    
    p {
        font-size: 1.4rem;
        margin-top: 0.2rem;
    }

    h5 {
        display: block;
        margin-top: -2rem;
    }

    .burger-container {
        margin-top: 2rem;
        justify-content: center;
    }

    footer {
        display: none;
    }
}

/* Mobile devices (screen width less than 1024px) */
@media only screen and (max-width: 1024px) {
    body {
        padding: 1.5rem;
    }
    .split-left {
        font-size: 3rem;
    }

    ul {
        font-size: 1.6rem;
        gap: 2.5rem;
    }

    .container {
        display: block;
    }

    h1 {
        font-size: 2rem;
        padding: 1.8rem;
    }

    h2 {
        font-size: 6rem;
    }
    
    p {
        font-size: 1.8rem;
        margin-top: 0.2rem;
    }

    h5 {
        display: none;
        margin-top: -2rem;
    }

    .container-burger{
        display: block;
    }

    .burger-container {
        margin-top: 2rem;
        justify-content: center;
    }

    footer p {
        font-size: 0.7rem;
    }
}
